.contenedor{
    background-color: white;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:"cabecera"
                        "contenido"
                        "pie";
}
.contenedor .cabecera{
    background-color: blue;
    grid-area: cabecera;
}
.contenedor .contenido{
    background-color: aqua;
    grid-area: contenido;
}
.contenedor .pie{
    background-color: brown;
    grid-area: pie;
}
